<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCbOVDeiJ6K16N_BFabGP6FiV-l1E6Lmjk</string>
	<key>GCM_SENDER_ID</key>
	<string>1052371068397</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Guidanclyflutter</string>
	<key>PROJECT_ID</key>
	<string>guidancly-message-sync</string>
	<key>STORAGE_BUCKET</key>
	<string>guidancly-message-sync.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1052371068397:ios:1c6846a2c05356cb0cf3e4</string>
</dict>
</plist>